<ion-header>
  <ion-toolbar>
    <ion-title>Ahorro</ion-title>
 

  
    
   </ion-toolbar>
   <ion-toolbar>
    <ion-searchbar placeholder="Buscar" animated (ionChange)="searchedAh($event)"></ion-searchbar>
   </ion-toolbar>


   <ion-item >
    <ion-label>Mes</ion-label>
    <ion-label>Fecha</ion-label>
    <ion-label><h2 class="colortitulo">Socio</h2></ion-label>
    <ion-label>
      <h2>Valor</h2>
      <h2>Bingo</h2>
      <h2>Algo</h2>
    </ion-label>
    <ion-label>Total</ion-label>
    <ion-icon name="trash-outline"></ion-icon>
    <ion-icon name="construct-outline"></ion-icon>
  </ion-item>
</ion-header>

<ion-content>
  

  <ion-list>
    
    <ion-item *ngFor="let ahorro of searchedAhorro">
      <ion-label>{{ahorro.mes}}</ion-label>
      <ion-label>{{ahorro.fecha}}</ion-label>
      <ion-label><h2 class="colortitulo">{{ahorro.idSocio}}</h2></ion-label>
      <ion-label>
        <h2>{{ahorro.valor}}</h2>
        <h2>{{getTipo(ahorro.idConcepto)}}</h2>
        <h2>Algo</h2>
      </ion-label>
      <ion-label>Total</ion-label><ion-button fill="clear" (click)="presentAlert()"><ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      
      <ion-button fill="clear"[routerLink]="['/actualizar-registro-ahorros']" > <ion-icon name="construct-outline"></ion-icon></ion-button>
    </ion-item>

    
   
  </ion-list>

 
</ion-content>
