<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar registro de ahorros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list>

  <form action ="">
  <div class="content-form">
    <ion-item>
      <ion-label>Codigo</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    
    <ion-item>
          <ion-label>Mes:</ion-label>
          <input type="month" id="mes"  name="mes" placeholder="Mes">
      </ion-item>
      
      <ion-item>  
        <ion-label>Fecha:</ion-label>
        <input type="date"  name="fecha">
      </ion-item>
      
      <ion-item>
        <ion-label>Socio</ion-label>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Valor</ion-label>
        <ion-input ></ion-input>
      </ion-item>
    
    
  </div>
  <ion-button [routerLink]="['/ahorro']" size="4" >Atras</ion-button>
</form>

</ion-list>
</ion-content>
