<ion-header>
  <ion-toolbar>
    <ion-title>Informacion Socio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action ="">
  <label for="nombre">
    <span>Nombre: </span>
    <input type="text" id="nombre" placeholder="Tu nombre" autocomplete="name" required>


    
  </label>
  <label for="apellido">
    <span>Apellido: </span>
    <input type="text" id="apellido"  placeholder="Tu Apellido" autocomplete="lastname" required>

  </label>


<label for="correoElectronico">
  <span>Correo Electronico: </span>
  <input type="email" id="correoElectronico"  placeholder="Tu correo@" autocomplete="email" required>

</label>
  <input type="submit">

</form>
</ion-content>
