<ion-header>
  <ion-toolbar>
    <ion-title>ingreso-socios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-formulario">
    <form [formGroup]="ingresoSocio" (ngSubmit)="onSubmit(ingresoSocio)">
      <ion-list>
        <ion-item>
          <ion-label>Documento (*) :</ion-label>
          <ion-input formControlName="documento"></ion-input>
        </ion-item>

<ion-list>
        <ion-item>
          <ion-label>Tipo (*) :</ion-label>
          <ion-select interface="popover" placeholder="CC" formControlName="tipo">
            <ion-select-option value="CC">CC</ion-select-option>
            <ion-select-option value="CE">CE</ion-select-option>
            <ion-select-option value="TI">TI</ion-select-option>
            <ion-select-option value="RC">RC</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>

        <ion-item>
          <ion-label>Nombre : </ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Apellido : </ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email (*) :</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Direccion : </ion-label>
          <ion-input formControlName="direccion"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label>Celular: </ion-label>
          <ion-input formControlName="celular" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Contraseña (*) :</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-list>


      <ion-button [disabled]="!ingresoSocio.valid" shape="round" type="submit">Enviar</ion-button>
    </form>
  </div>
</ion-content>
